.instagram-content {
  padding-bottom: 1.25rem;
  color: #262626;
}

.instagram-card {
  background: #ffffff;
  border-radius: 3px;
  border: 1px solid #e0e0e0;
  box-shadow: #fff;
  box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
  width: 37.5rem;
  margin: auto;
}

.instagram-card-header {
  padding: 1.25rem;
  height: 2.5rem;
  display: flex;
}

.instagram-card-user-content {
  margin-left: 1.25rem;
}

.instagram-card-user-name {
  font-weight: bold;
 
}

.instagram-card-time {
  text-align: left;
  color: #999;
}

.instagram-card-user-image {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  vertical-align: middle;
}

.instagram-card-content {
  padding: 1.25rem;
}

.instagram-card-content-user {
}

.hashtag {
  color: #003569;
}

.instagram-card-image {
  background-color: black;
  position: relative;
  height: 37.5rem;
  width: 100%;
  overflow: hidden;
}

.instagram-card-image img {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
